Repository Mazene-ZERGUINE/easy_share: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ktlint --format

.lintstagedrc:

{
    "app/src/**/*.xml": ["prettier --write"],
    "app/src/**/*.{kt,kts}": ["ktlint --format"]
}

core: adding picasso dependecie
  app/build.gradle.kts
Due: none

feat: adding get image endpoint
  app/src/main/java/com/example/easyshare/services/ApiService.kt
Due: ktlint --format

feat: updating koin module
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
Due: ktlint --format

feat: adding image upload and get
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

feat: adding imageData model
  app/src/main/java/com/example/easyshare/models/ImageData.kt
Due: ktlint --format

ui: updating add and details ui
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_add_product.xml
Due: prettier --write

mazene le bg
  app/src/main/res/layout/fragment_add_product.xml
Due: prettier --write

fix scroll product details
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write

feat: add update account
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/res/drawable/edit_ic.xml
  app/src/main/res/layout/fragment_account.xml
Due: prettier --write, ktlint --format

style: ktlint format
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/models/ImageData.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format
