Repository Mazene-ZERGUINE/easy_share: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ktlint --format

[comments]: change gravity of the comment fragment
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write

[productsDetails]: refactor onClickProduct
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write, ktlint --format

[comments]: adding createdComment date
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
Due: ktlint --format

[productDetails]: adding product created at
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write, ktlint --format

[productDetails]: adding date utils
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/utilis/DateUtils.kt
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
Due: ktlint --format

productsDetails: adding product createdBy
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
Due: ktlint --format

[comments]: fixing design
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/res/drawable/custom_button_background.xml
  app/src/main/res/drawable/text_input_background.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/values/colors.xml
Due: prettier --write, ktlint --format

[comments]: fixing details
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/values/strings.xml
Due: prettier --write, ktlint --format

commets: fixing strings
  app/src/main/res/values/strings.xml
Due: prettier --write

Revert "Merge pull request #42 from Mazene-ZERGUINE/feat/productComments"
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/models/AllComments.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/CommentFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/utilis/DateUtils.kt
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/viewmodel/ProductViewModel.kt
  app/src/main/res/drawable/custom_button_background.xml
  app/src/main/res/drawable/ic_options.xml
  app/src/main/res/drawable/text_input_background.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: prettier --write, ktlint --format

[comments]: adding comments
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/utilis/CustomDateUtils.kt
  app/src/main/res/drawable/custom_button_background.xml
  app/src/main/res/drawable/text_input_background.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: prettier --write, ktlint --format

comments: adding comment viewModel
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
Due: ktlint --format

comments: fixing some spaces
  app/src/main/java/com/example/easyshare/models/AllComments.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write, ktlint --format

Login: fix design signup and login
  app/src/main/res/drawable/connexion_btn.xml
  app/src/main/res/drawable/eye_closed.xml
  app/src/main/res/drawable/eye_open.xml
  app/src/main/res/drawable/show_password_selector.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/values/strings.xml
Due: prettier --write

[colortest]: adding bg color test
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_product.xml
Due: prettier --write

[design]: improve design
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_product.xml
  app/src/main/res/values/colors.xml
Due: prettier --write

(fix): fix ci
  app/src/main/res/layout/activity_main.xml
Due: prettier --write

[desing]: fix nav bar
  app/src/main/res/drawable/background_nav_bar.xml
  app/src/main/res/layout/activity_main.xml
Due: prettier --write

fix ci
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/utilis/CustomDateUtils.kt
Due: ktlint --format

adding add product fragment
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/MainActivity.kt
  app/src/main/res/drawable/gradiant_background.xml
  app/src/main/res/layout/fragment_add_product.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
Due: prettier --write, ktlint --format

[addProductFragment]: changing some padding
  app/src/main/res/layout/fragment_add_product.xml
Due: prettier --write

docs: add README
  README.md
  docs/android-architecture.drawio.png
Due: none

[addProductFragment]: add new product
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/models/Data.kt
  app/src/main/java/com/example/easyshare/models/NewProductRequest.kt
  app/src/main/java/com/example/easyshare/models/PublicationImage.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/FavoriteFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/MainActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/java/com/example/easyshare/utilis/CustomDateUtils.kt
  app/src/main/res/layout/fragment_add_product.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/menu/bottom_nav.xml
Due: prettier --write, ktlint --format

[tokenManager]: getting userId from jwt
  app/src/main/java/com/example/easyshare/models/NewProductRequest.kt
  app/src/main/java/com/example/easyshare/ui/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/LoginViewModel.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/java/com/example/easyshare/utilis/TokenManager.kt
Due: ktlint --format

[prettier]: applying prettier
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/res/drawable/bottom_border_background.xml
  app/src/main/res/drawable/custom_button_background.xml
  app/src/main/res/drawable/product_detail_rect.xml
  app/src/main/res/drawable/rounded_rect.xml
  app/src/main/res/drawable/shadow.xml
  app/src/main/res/drawable/text_input_background.xml
  app/src/main/res/drawable/wave__2_.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/error_toast.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/layout/success_toast.xml
  app/src/main/res/mipmap-anydpi-v26/ic_check.xml
  app/src/main/res/mipmap-anydpi-v26/ic_check_round.xml
  app/src/main/res/mipmap-anydpi-v26/ic_error.xml
  app/src/main/res/mipmap-anydpi-v26/ic_error_round.xml
Due: prettier --write, ktlint --format

[comments]: adding comment
  app/src/main/java/com/example/easyshare/models/CommentRequest.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/MainActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/navigation/nav_graph.xml
Due: prettier --write, ktlint --format

[prettier]: applying prettier
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
Due: ktlint --format

adding feats
  app/src/main/res/drawable/circle.xml
  app/src/main/res/drawable/ic_at.xml
  app/src/main/res/drawable/ic_back_arrow.xml
  app/src/main/res/drawable/ic_box.xml
  app/src/main/res/drawable/ic_help.xml
  app/src/main/res/drawable/ic_history.xml
  app/src/main/res/drawable/ic_mail.xml
  app/src/main/res/drawable/ic_option_menu.xml
  app/src/main/res/drawable/ic_question_mark.xml
  app/src/main/res/drawable/ic_settings.xml
  app/src/main/res/drawable/ic_shield.xml
  app/src/main/res/drawable/rounded_textview.xml
Due: prettier --write

fix some design
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/utilis/CustomDateUtils.kt
  app/src/main/res/drawable/background_nav_bar.xml
  app/src/main/res/drawable/ep_warningwarning.xml
  app/src/main/res/drawable/ic_hi.xml
  app/src/main/res/drawable/ic_notification.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/error_toast.xml
  app/src/main/res/layout/fragment_account.xml
  app/src/main/res/layout/fragment_add_product.xml
  app/src/main/res/layout/fragment_product.xml
  app/src/main/res/layout/success_toast.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: prettier --write, ktlint --format

add arrt
  app/src/main/ic_delete_account-playstore.png
  app/src/main/ic_history-playstore.png
  app/src/main/java/com/example/easyshare/models/NewProductRequest.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AddProductFragment.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

adding user products
  app/src/main/java/com/example/easyshare/ui/fragments/FavoriteFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsSuggestionListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_suggestion.xml
Due: prettier --write, ktlint --format

feat: add random user avatar
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
Due: ktlint --format

resize suggest fragement
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/res/layout/fragment_suggestion.xml
Due: prettier --write, ktlint --format

style(home): ktlint format
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
Due: ktlint --format

docs: update README
  README.md
  docs/home.png
Due: none

docs: update README
  README.md
Due: none

fix: random avatar
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/FavoritePostViewModel.kt
Due: ktlint --format

chore(deps): remove useless duplicates
  app/build.gradle.kts
Due: none

fix(favorite-posts): update user name
  app/src/main/java/com/example/easyshare/models/Publication.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
Due: ktlint --format

Path conditions:
  prettier --write: any of: app/src/**/*.xml
  ktlint --format: any of: app/src/**/*.{kt,kts}
