Repository Mazene-ZERGUINE/easy_share: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ktlint --format

feat: add favorite posts display
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/fragments/FavoriteFragment.kt
  app/src/main/java/com/example/easyshare/models/DataProperty.kt
  app/src/main/java/com/example/easyshare/models/Publication.kt
  app/src/main/java/com/example/easyshare/models/PublicationFavori.kt
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/utilis/TokenManager.kt
  app/src/main/java/com/example/easyshare/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/viewmodel/FavoritePostViewModel.kt
  app/src/main/java/com/example/easyshare/viewmodel/LoginViewModel.kt
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_favorite_posts.xml
Due: prettier --write, ktlint --format

fix: fixing merg conflicts
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/FavoriteFragment.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/MainActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/SignupActivity.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/FavoritePostViewModel.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/LoginViewModel.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/SignupViewModel.kt
  app/src/main/res/drawable/glass_efect.xml
  app/src/main/res/drawable/gradiant_background.xml
  app/src/main/res/drawable/login_bg.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/fragment_account.xml
  app/src/main/res/layout/fragment_favorite.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/themes.xml
Due: prettier --write, ktlint --format

feat(favorite posts): unstar favorite post
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/FavoriteFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/FavoritePostsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/FavoritePostViewModel.kt
Due: ktlint --format

feat: add star post on posts list
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

feat(homeFragment): add un/star post
  app/src/main/java/com/example/easyshare/models/DataProperty.kt
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
  app/src/main/res/drawable/ic_favorite_fill.xml
  app/src/main/res/layout/fragment_product.xml
Due: prettier --write, ktlint --format

feat(favorite posts): replace star icon by star fill icon
  app/src/main/res/layout/fragment_favorite_posts.xml
Due: prettier --write

feat(details): add un/star on details
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write, ktlint --format

fix(details): on un/starred switching between home & details
  app/src/main/java/com/example/easyshare/ui/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

feat(favoriteFragment): add loading
  app/src/main/java/com/example/easyshare/ui/fragments/FavoriteFragment.kt
Due: ktlint --format

feat(homeFragment): add loading
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

refactor(homeFragment): observe methods
  app/src/main/java/com/example/easyshare/ui/fragments/HomeFragment.kt
Due: ktlint --format

refactor(ProductViewModel): remoe comments
  app/src/main/java/com/example/easyshare/ui/viewmodel/ProductViewModel.kt
Due: ktlint --format

adding icon recoursess
  app/src/main/res/mipmap-anydpi-v26/ic_delete_account.xml
  app/src/main/res/mipmap-anydpi-v26/ic_delete_account_round.xml
  app/src/main/res/mipmap-anydpi-v26/ic_history.xml
  app/src/main/res/mipmap-anydpi-v26/ic_history_round.xml
  app/src/main/res/mipmap-hdpi/ic_delete_account.webp
  app/src/main/res/mipmap-hdpi/ic_delete_account_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_delete_account_round.webp
  app/src/main/res/mipmap-hdpi/ic_history.webp
  app/src/main/res/mipmap-hdpi/ic_history_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_history_round.webp
  app/src/main/res/mipmap-mdpi/ic_delete_account.webp
  app/src/main/res/mipmap-mdpi/ic_delete_account_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_delete_account_round.webp
  app/src/main/res/mipmap-mdpi/ic_history.webp
  app/src/main/res/mipmap-mdpi/ic_history_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_history_round.webp
  app/src/main/res/mipmap-xhdpi/ic_delete_account.webp
  app/src/main/res/mipmap-xhdpi/ic_delete_account_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_delete_account_round.webp
  app/src/main/res/mipmap-xhdpi/ic_history.webp
  app/src/main/res/mipmap-xhdpi/ic_history_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_history_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_delete_account.webp
  app/src/main/res/mipmap-xxhdpi/ic_delete_account_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_delete_account_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_history.webp
  app/src/main/res/mipmap-xxhdpi/ic_history_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_history_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_delete_account.webp
  app/src/main/res/mipmap-xxxhdpi/ic_delete_account_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_delete_account_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_history.webp
  app/src/main/res/mipmap-xxxhdpi/ic_history_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_history_round.webp
  app/src/main/res/values/colors.xml
  app/src/main/res/values/ic_delete_account_background.xml
  app/src/main/res/values/ic_history_background.xml
Due: prettier --write

feat: adding confirmation dialog screen
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
  app/src/main/res/layout/confirmation_dialog.xml
  app/src/main/res/layout/overlay.xml
Due: prettier --write, ktlint --format

feat: adding delete and update account
  app/src/main/java/com/example/easyshare/models/UserData.kt
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/AccountViewModel.kt
Due: ktlint --format

feat: adding user profile screen components
  app/src/main/res/drawable/ic_delete_account_foreground.xml
  app/src/main/res/drawable/profile_menu.xml
  app/src/main/res/drawable/profile_top.xml
Due: prettier --write

feat: profile page setting data to inputs
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/res/layout/fragment_account.xml
Due: prettier --write, ktlint --format

refactor: refactor models
  app/src/main/java/com/example/easyshare/di/modules/CoreModule.kt
  app/src/main/java/com/example/easyshare/models/Commentaire.kt
  app/src/main/java/com/example/easyshare/models/Data.kt
  app/src/main/java/com/example/easyshare/models/UserData.kt
  app/src/main/java/com/example/easyshare/models/UtilisateurSignalement.kt
Due: ktlint --format

fix: interceptor
  app/src/main/java/com/example/easyshare/di/modules/RemoteModule.kt
Due: ktlint --format

feat: adding user profile screen
  app/src/main/res/layout/fragment_account.xml
Due: prettier --write

feat: adding delete user account
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/AccountViewModel.kt
  app/src/main/res/layout/activity_main.xml
Due: prettier --write, ktlint --format

feat: user profile
  app/src/main/java/com/example/easyshare/repositories/UserRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/AccountViewModel.kt
Due: ktlint --format

fix: fixing code format
  app/src/main/java/com/example/easyshare/ui/fragments/AccountFragment.kt
Due: ktlint --format

[comments]: adding comments for a product details
  app/src/main/res/layout/fragment_home.xml
Due: prettier --write

[productsDetails]: refactor onClickProduct
  app/src/main/java/com/example/easyshare/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/viewmodel/CommentViewModel.kt
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write, ktlint --format

[comments]: change gravity of the comment fragment
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write

[comments]: adding loadMoreComments button
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/viewmodel/CommentViewModel.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write, ktlint --format

[comments]: adding createdComment date
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
  app/src/main/java/com/example/easyshare/view/adapters/CommentsAdapter.kt
Due: ktlint --format

[productDetails]: adding product created at
  app/src/main/java/com/example/easyshare/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write, ktlint --format

[productDetails]: adding date utils
  app/src/main/java/com/example/easyshare/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/utilis/DateUtils.kt
  app/src/main/java/com/example/easyshare/utilis/Utils.kt
  app/src/main/java/com/example/easyshare/view/adapters/CommentsAdapter.kt
Due: ktlint --format

productsDetails: adding product createdBy
  app/src/main/java/com/example/easyshare/fragments/HomeFragment.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/view/adapters/ProductsListAdapter.kt
Due: ktlint --format

[comments]: fixing design
  app/src/main/java/com/example/easyshare/viewmodel/CommentViewModel.kt
  app/src/main/res/drawable/custom_button_background.xml
  app/src/main/res/drawable/text_input_background.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/values/colors.xml
Due: prettier --write, ktlint --format

[comments]: fixing details
  app/build.gradle.kts
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/values/strings.xml
Due: prettier --write, ktlint --format

commets: fixing strings
  app/src/main/res/values/strings.xml
Due: prettier --write

[testcommit]: test
  app/src/main/java/com/example/easyshare/ui/fragments/CommentFragment.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write, ktlint --format

[comments]: adding comments model view
  app/src/main/java/com/example/easyshare/models/AllComments.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/CommentsAdapter.kt
  app/src/main/java/com/example/easyshare/ui/view/adapters/ProductsListAdapter.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/java/com/example/easyshare/viewmodel/ProductViewModel.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
  app/src/main/res/layout/fragment_home.xml
Due: prettier --write, ktlint --format

[design]:adding comment fragment in the product details fragment v1
  app/src/main/res/layout/activity_product_details.xml
Due: prettier --write

[design]: implement comment fragment xml
  app/src/main/java/com/example/easyshare/models/AllComments.kt
  app/src/main/java/com/example/easyshare/repositories/ProductsRepository.kt
  app/src/main/java/com/example/easyshare/services/ApiService.kt
  app/src/main/java/com/example/easyshare/ui/view/LoginActivity.kt
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/drawable/ic_options.xml
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write, ktlint --format

[comments]: adding loadMoreComments button
  app/src/main/java/com/example/easyshare/ui/viewmodel/CommentViewModel.kt
  app/src/main/java/com/example/easyshare/view/ProductDetailsActivity.kt
  app/src/main/res/layout/activity_product_details.xml
  app/src/main/res/layout/fragment_comment.xml
Due: prettier --write, ktlint --format

Path conditions:
  prettier --write: any of: app/src/**/*.xml
  ktlint --format: any of: app/src/**/*.{kt,kts}
